$font-size: 1rem;
$font-color: lch(53 105 40);

:root {
  --main-bg-color: pink;
}

html {
  font-size: $font-size;
  color: $font-color;
}
.someClass {
  font-size: 14px;
  font-weight: bold;
}

.app {
  color: red;
}
